/* :user-invalid also works, but :invalid was chosen to better complement the DOM error messages which appear as you type. */
input:invalid,
select:invalid {
  background-color: pink;
}

input:valid,
select:valid {
  background-color: lightgreen;
}
